body{
	background-color: #A84530;
}

h1{
	text-align: center;
	margin: auto;
	margin-top:30px;
}

p{
	text-align: center;
	margin: auto;
}

.navbar{
	text-align: center;
	margin-top: -5px;
}

.navbar a{
	text-decoration: none;
	color: black;
	font-style: 
}
